<div class="container">
  <div class="center">
    <h1>Babble</h1>

    <div class="form-element">
      <div id="history" class="history"></div>
    </div>

    <input type="text" id="entry" class="form-element"></input>
  </div>
</div>

<div id="message" class="template">
  <div name="text" class="message"></div>
</div>
<div id="reply" class="template">
  <div name="text" class="reply"></div>
</div>

<%= javascript_include_tag "application" %>
<%= javascript_include_tag "babble" %>
