<div class="container">
  <div class="row">
    <div class="col col-lg-4 col-md-3"></div>
    <div class="col col-lg-4 col-md-6">
      <h1>Babble</h1>
      <textarea id="history" class="form-element"></textarea>
    </div>
    <div class="col col-lg-4 col-md-3"></div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col col-lg-4 col-md-3"></div>
      <div class="col col-lg-4 col-md-6">
        <input type="text" id="entry" class="form-element"></input>
      </div>
    </div>
  </div>
</footer>

<%= javascript_include_tag "application" %>
<%= javascript_include_tag "babble" %>
