body {
	background-color: lightgrey !important;
}

.center {
    width: 320px;
    margin: auto;
}
.form-element {
    width: 100%;
}
.history {
    margin: 1px;
    background-color: white;
    height: 380px;
    overflow-y: scroll;
}
.message {
    text-align: right;
    color: gray;
	padding-bottom: 10px;
}
.reply {
    font-weight: bold;
	padding-bottom: 10px;
}
.template {
    display: none;
}
